body{
    background-color: #72CAB1;
}
.home{
    
    height: 790px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.colo{
    background-color: #72CAB1;
}
#cur {
    animation: blink 0.6s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }