.detail:hover{
 
    color:rgb(30, 202, 20);
}
.detail{
    color:black;
}
.li{
    background:url('./components/img/list.png')  no-repeat;
    height: 679px;
}
.gre{
    background-color: #7AB8B7;
    height: 782px;
}
